<footer class="l-footer w-100">
    <small class="d-block pt-2 pb-3 text-center">© <%= commons.copyright %> <%= commons.author %></small>
</footer>
<a class="c-returnPageTop" href="#"><i class="fa-solid fa-fw fa-arrow-up" aria-hidden="true"></i></a>