<header class="l-header">
    <nav class="navbar navbar-expand-lg fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="./">
                <%= commons.sitename %>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarList">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="./#unus">Unus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#duo">Duo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#tres">Tres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#quattuor">Quattuor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./#quinque">Quinque</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Vide alii
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="./galaxy.html">Ramsey</a></li>
                            <li><a class="dropdown-item" href="./galaxy.html#aries">Aries</a></li>
                            <li><a class="dropdown-item" href="./galaxy.html#taurus">Taurus</a></li>
                            <li><a class="dropdown-item" href="./galaxy.html#gemini">Gemini</a></li>
                            <li><a class="dropdown-item" href="./galaxy.html#leo">Leo</a></li>
                            <li><a class="dropdown-item" href="./galaxy.html#virgo">Virgo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>