@charset "utf-8";

@use "../../foundation" as f;

.c-eyecatch {
    height: 40vh;
    background: {
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
    .l-header ~ & {
        /* キービジュアルのみ初期位置の時点でナビゲーションバーに隠れてしまうので通常の margin-top で余白調整
         * css変数利用
         * ~ で隣接要素指定 */
        margin-top: var(--navbar-height);
    }
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: f.$bg-color;
    }
}
