@charset "utf-8";

@use "../../foundation" as f;
@use "sass:math";

$rpt-size: 44px;

.c-returnPageTop {
    position: fixed;
    bottom: 4%;
    right: 6%;
    z-index: 90;
    @include f.t();
    &:not(.active) {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
    .fa-fw {
        font-size: math.div($rpt-size, 2);
        background-color: f.$main-color_l;
        border-radius: math.div($rpt-size, 11);
        color: f.$bg-color;
        cursor: pointer;
        display: block;
        width: $rpt-size;
        height: $rpt-size;
        line-height: $rpt-size;
        text-align: center;
        &:hover,
        &:active {
            background-color: f.$main-color;
        }
    }
}
