@charset "utf-8";

@use "../foundation" as f;

.l-footer {
    background-color: f.$main-color_l;
    color: f.$bg-color;
    #galaxy > & {
        /* ダークモード対応 */
        @media (prefers-color-scheme: dark) {
            background-color: f.$main-color;
            color: f.$bg-color;
        }
    }
}
