@charset "utf-8";

@use "../foundation" as f;
@use "sass:color";

.l-header {
    .navbar,
    .dropdown-menu {
        background-color: f.$bg-color;
        color: f.$color;
    }
    .navbar-brand {
        &,
        &:link,
        &:visited {
            color: f.$main-color;
        }
        &:hover,
        &:active,
        &:focus {
            color: f.$main-color_l;
        }
    }
    .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,.1);
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
    #galaxy > & {
        /* ダークモード対応 */
        @media (prefers-color-scheme: dark) {
            .navbar-brand {
                &,
                &:link,
                &:visited {
                    color: color.scale(f.$main-color, $lightness: 48%);
                }
                &:hover,
                &:active,
                &:focus {
                    color: color.scale(f.$main-color_l, $lightness: 48%);
                }
            }
            .navbar-toggler {
                color: rgba(255,255,255,.55);
                border-color: rgba(255,255,255,.1);
                .navbar-dark .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }
            }
            .navbar,
            .dropdown-menu {
                background-color: f.$color;
                color: f.$bg-color;
                .nav-link {
                    &,
                    &:link {
                        color: color.scale(f.$link-color, $lightness: 48%);
                    }
                    &:visited {
                        color: color.scale(f.$link-v-color, $lightness: 48%);
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        color: color.scale(f.$link-ha-color, $lightness: 48%);
                    }
                }
                .dropdown-item:focus,
                .dropdown-item:hover {
                    background-color: #1e2125;
                    color: #e9ecef;
                }
            }
        }
    }
}
